
.master-gain-container{
    width: 95%;
    margin: 0 auto;
    background-color: whitesmoke;
    padding: 1rem;

    border-radius: 10px;
    box-shadow: 10px 10px 40px rgb(219, 219, 219) inset;
}

#master-gain{
    width: 75%;
}


#master-gain-meter{

    height: 5rem;
    width: 100%;
    position: static;

    /* top: -16vw; */

    /* transform: rotate(90deg); */
    /* margin: -25vw auto; */
}






#media-panel{
    width: 95%;
    max-height: 100vh;
    margin: 1rem auto 0;
    
    padding: 1rem;

    /* display: grid;
    grid-template-columns: repeat(4, 1fr); */

    /* grid-gap: 1rem; */


    background-color: whitesmoke;

    border-radius: 10px;
    box-shadow: 10px 10px 40px rgb(219, 219, 219) inset;

}


.video-container{
    display: inline-block;

    margin: 0.5rem;

    box-shadow: 2px 2px 5px grey;
    padding: 0.5rem 1rem;
    box-sizing: border-box;

    border-radius: 4px;
}

.video-container-hidden-true{
    display: none;
}

.user-name{
    cursor: pointer;
}
.user-name:hover{
    text-decoration: underline;
}


.video-container video{
    width: 100%;
    margin: 1rem 0 0;
    /* border-radius: 10px; */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.controls-container{
    position: relative;
    top: -5px;
    padding: 0.5rem 0;

    background-color: rgb(207, 207, 207);

    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.video-header{
    color: rgb(161, 161, 161);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0.25rem;

    letter-spacing: 3px;
    text-shadow: 2px 2px 5px rgb(190, 190, 190);
}

.user-name{
    font-weight: bold;
}

.user-location{
    font-weight: 100;
}

.sub-id{
    font-size: 0.66rem;
}




.mute-btn{
    
    background-size: contain;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0);

    height: 1.5rem;
    width: 1.5rem;
    border: none;
    border-radius: 50%;

    cursor: pointer;
}

.mute-btn-muted{
    background-image: url("../media/mute.svg");
    opacity: 0.5;
}

.mute-btn-unmuted{
    background-image: url("../media/unmute.svg");
    opacity: 0.9;
}




.meters{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.peak-meter{
    width: 100%;
    height: 4rem;

    background-color: red;
}